Repository istanadodan/BootTodoExample: changes, and which Jenkins stages are due for each by the changed paths.
All: Build frontend, Build backend, Deploy frontend, Deploy backend

Build frontend:
              steps {
                  dir('Frontend') {
                      sh './vite build'
                  }
              }
          

Build backend:
              steps {
                  dir('Backend') {
                      gradle {
                          tasks 'build'
                          switches '--warning-mode=all'
                          buildFile 'build.gradle'
                      }
                  }
              }
          

Deploy frontend:
              steps {                
                  dir('Frontend') {
                      script {
                          sh 'cp ./build /usr/share/nginx/html'
                          }
                      }
              }
          

Deploy backend:
              steps {                
                      script {
                          docker.withServer('unix:///var/run/docker.sock') {
                              docker.withRegistry(DOCKER_REGISTRY, DOCKER_CREDENTIALS) {
  ...

test
  Frontend/.env
  Frontend/src/entities/board/model/ApiComponent.tsx
  Frontend/src/entities/board/model/ApiComponentList.tsx
  Frontend/src/entities/board/ui/ApiRes.tsx
  Frontend/src/pages/task-details/index.tsx
  Frontend/src/shared/ApiRes.ts
  Jenkinsfile
Due: Build frontend, Deploy frontend

test
  docker/Dockerfile-fe
Due: none

test
  Frontend/src/pages/task-details/index.tsx
Due: Build frontend, Deploy frontend

test
  Jenkinsfile
Due: none

test
  Frontend/src/entities/board/model/ApiComponent.tsx
Due: Build frontend, Deploy frontend

test
  Jenkinsfile
  docker/Dockerfile-fe
  docker/Dockerfile-jenkins
  docker/docker-compose-db-be.yml
  docker/docker-compose-jenkins.yml
  docker/minikube/backend-deployment.yaml
  docker/minikube/database-deployment.yaml
Due: none

test
  docker/minikube/backend-deployment.yaml
  docker/minikube/init_kube.ps1
  docker/minikube/jenkins-deployment.yaml
Due: none

test
  Backend/src/main/java/com/study/board/controller/BoardController.java
Due: Build backend, Deploy backend

test
  Backend/src/main/java/com/study/board/controller/BoardController.java
  Jenkinsfile
Due: Build backend, Deploy backend

test
  Frontend/src/entities/board/ui/ApiRes.tsx
  Frontend/src/entities/board/ui/App.css
Due: Build frontend, Deploy frontend

test
  Frontend/vite.config.ts
Due: Build frontend, Deploy frontend

test
  Jenkinsfile
  docker/Dockerfile-fe
  docker/minikube/frontend-deployment.yaml
Due: none

test2
  Frontend/src/entities/board/model/ApiComponent.tsx
  Frontend/src/pages/task-details/index.tsx
  Frontend/src/shared/config/index.ts
Due: Build frontend, Deploy frontend

test2
  Frontend/.env
  Frontend/src/shared/config/index.ts
Due: Build frontend, Deploy frontend

autowire error fix
  Backend/.gradle/8.10/executionHistory/executionHistory.bin
  Backend/.gradle/8.10/executionHistory/executionHistory.lock
  Backend/.gradle/8.10/fileHashes/fileHashes.bin
  Backend/.gradle/8.10/fileHashes/fileHashes.lock
  Backend/.gradle/8.10/fileHashes/resourceHashesCache.bin
  Backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Backend/.settings/org.eclipse.buildship.core.prefs
  Backend/src/main/java/com/study/board/service/BoardService.java
Due: Build backend, Deploy backend

dummy
  Backend/src/main/java/com/study/board/service/BoardService.java
Due: Build backend, Deploy backend

dummy
  Backend/src/main/java/com/study/board/controller/BoardController.java
Due: Build backend, Deploy backend

dummy
  .gitignore
  Jenkinsfile
Due: none

test
  Backend/bin/main/application.yml
  Backend/src/main/resources/application.yml
Due: Build backend, Deploy backend

be
  Backend/src/main/java/com/study/board/configurations/MybatisConfig.java
Due: Build backend, Deploy backend

te
  .gitignore
  Frontend/src/pages/task-details/index.tsx
  docker/Dockerfile-fe
Due: Build frontend, Deploy frontend

test
  .gitignore
  Frontend/.env
  Frontend/src/entities/board/model/ApiComponent.tsx
  Frontend/src/entities/board/model/ApiComponentList.tsx
  Frontend/src/entities/board/ui/ApiRes.tsx
  Frontend/src/entities/board/ui/App.css
  Frontend/src/pages/task-details/index.tsx
  Frontend/src/shared/ApiRes.ts
  Frontend/src/shared/config/index.ts
  Frontend/tsconfig.json
  Frontend/vite.config.ts
Due: Build frontend, Deploy frontend

test
  Frontend/src/entities/board/model/ApiRes.tsx
  Frontend/src/entities/board/model/App.css
  Frontend/src/entities/board/ui/ApiComponent.tsx
  Frontend/src/entities/board/ui/ApiComponentList.tsx
  Frontend/src/pages/task-details/index.tsx
Due: Build frontend, Deploy frontend

Path conditions:
  Build frontend: any of: frontend/**
  Build backend: any of: backend/**
  Deploy frontend: any of: frontend/**
  Deploy backend: any of: backend/**
